.body{
    font-family: "Cormorant Garmond";
}
.topbar button,.topbar li{
    color:black;
}
.block1{
    background-color:#0c171f;
    height: 670px;
    position: relative;
    z-index: 10;
    
}
.block1 h3{
    position: absolute;
    top: 40%;
    left: 15%;
    z-index: 20;
    writing-mode: vertical-rl;
    font-family: "YuMin";
    color: #600606;
    font-size: 24px;
}
.block2{
    position: absolute;
    top: 150px;
    background-color:#600606;
    height: 670px;
    transform: skew(0deg,3deg);
}

.title{
    position: absolute;
    top: 40%;
    left: 7%;
    z-index: 30;
}
.title h2{
    font-size: 130px !important;
    font-family: "Cormorant Garmond",;
    font-weight: 300;
}
.title p{
    font-weight: 300;
    margin-left: 60px;
}
main{
    background-color: #f1f1f1;
    height: 600px;
    text-align: center;
}
main h2{
    padding-top: 100px;
    margin-top: 100px;
    font-size: 100px;
    color: white;
    font-family: "Cormorant Garmond";
    line-height: 1;
    margin-bottom: 0;
}
.concept{
    background-color: white;
    height: 500px;
    padding-top: 80px;
}
.concept h3,.concept p{
    font-family: "Cormorant Garmond" !important;
}

@media screen and (max-width:720px){
    .block1 h3{
        position: absolute;
        top: 20%;
        left: 70%;

        z-index: 20;
        writing-mode: vertical-rl;
        font-family: "YuMin";
        color: #600606;
        font-size: 24px;
    }
}

#icon{
    color: black;
    background-color: #600606;
}